html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

header {
    display: inline-block;
    background-image: url(https://media.istockphoto.com/vectors/seamless-hand-drawn-tropical-vector-pattern-with-bright-hibiscus-and-vector-id677928238?k=20&m=677928238&s=612x612&w=0&h=gfdsg46-LIudmEA_IlwMVz5bljGDRgysZRUfAhRAG2s=);
    border-bottom: 1px solid black;
    width: 85%;
    margin-left: 15%;
}

h1 {
    text-align: center;
    color: aliceblue;
    margin: auto;
    font-size: 80px;
    text-shadow: 2px 2px black;
}

h2,
h3,
p {
    text-align: center;
}

/* --------------SIDE NAV-------------- */
.sidenav {
    display: inline-flex;
    position: fixed;
    flex-direction: column;
    background-color: white;
    background-size: cover;
    border-right: 1px solid black;
    height: 100%;
    width: 15%;
}

/* ---main links--- */
.sidenav a {
    display: block;
    text-align: center;
    padding: 20px;

}

.sidenav_links a:hover {
    font-weight: bold;
}

/* ---aside links--- */
.sidenav_aside_links {}

.sidenav_aside_links a {
    background-image: linear-gradient(rgb(238, 238, 238), rgb(218, 218, 218));
}

.sidenav_aside_links a:hover {
    font-weight: bold;
}

/* --- */

.homepage_button{
    margin-top: 400px;
    font-size: 26px;
    text-decoration: none;
  }
/* --------- */
#profile {
    background-image: linear-gradient(to left, rgb(184, 255, 196), rgb(89, 255, 120));
}

#blog {
    background-image: linear-gradient(rgb(172, 208, 255), rgb(80, 156, 255));
}

#dashboard {
    background-image: linear-gradient(rgb(255, 200, 252), rgb(255, 111, 248));
}

#faq {
    background-image: linear-gradient(rgb(255, 184, 184), rgb(255, 104, 104));
}

.menu {
    display: block;
    border-radius: 10px;
    font-size: 20px;
    width: auto;
    margin: auto;
}

.info_block {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 20px;
}

img {
    display: block;
    border: 5px solid white;
    height: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: inline-block;
    width: 85%;
    padding: 20px;
    margin-left: 15%;
}

#hz_logo {
    height: 8%;
    margin: 0 auto;
    border: none;
}
