html{
    height: 100%;
}
header {
    background-image: url(https://media.istockphoto.com/vectors/seamless-hand-drawn-tropical-vector-pattern-with-bright-hibiscus-and-vector-id677928238?k=20&m=677928238&s=612x612&w=0&h=gfdsg46-LIudmEA_IlwMVz5bljGDRgysZRUfAhRAG2s=);
    height: 100px;
    width: calc(100% - 262px);
    position: absolute;
    top: -8px;
    left: 262px;
    z-index: 2;
    border-bottom: 12px solid lightblue;
}

hr {
    border: 2px solid lightblue;
    background-color: lightblue;
    height: 10px;
    width: 101%;
    position: absolute;
    left: -8px;
    top: 80px;
    z-index: 2;
}

h1 {
    text-align: center;
    color: aliceblue;
    margin: auto;
    margin-top: 5px;
    font-size: 80px;
    text-shadow: 2px 2px black;
}

h2 {
    text-align: center;
}

.sidenav {
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    background-size: cover;
    border-right: 12px solid lightblue;
}

.sidenav a {
    display: block;
    text-align: center;
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;

}

.sidenav_links a {
    margin-left: 17px;
}

.sidenav_aside_links a {

    width: 60%;
    background-image: linear-gradient(rgb(238, 238, 238), rgb(218, 218, 218));
}

#sidenav_title {
    display: block;
    text-align: center;
}

nav a:hover {
    font-weight: bold;
    margin-left: 25px;
}

ul a:hover {
    font-weight: bold;
    font-size: 20px;
}

#profile {
    background-image: linear-gradient(rgb(184, 255, 196), rgb(89, 255, 120));
}

#blog {
    background-image: linear-gradient(rgb(172, 208, 255), rgb(80, 156, 255));
}

#dashboard {
    background-image: linear-gradient(rgb(255, 200, 252), rgb(255, 111, 248));
}

#faq {
    background-image: linear-gradient(rgb(255, 184, 184), rgb(255, 104, 104));
}

/*.menu {

    background-image: linear-gradient(to right, transparent, lightgreen, transparent);
    border-top-style: double;
    border-top-color: green;
    border-bottom-style: double;
    border-bottom-color: green;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    font-size: 20px;
    width: 80%;
}*/
.menu {
    background-image: linear-gradient(to right, transparent, lightgreen, transparent);
    border-top-style: double;
    border-top-color: green;
    border-bottom-style: double;
    border-bottom-color: green;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    font-size: 20px;
    width: 80%;
}

p {
    text-align: center;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*cant use background image with files?*/

#self_img {
    position:absolute;
    top: 70px;
    left: 200px;
    width: 20%;
    border: 5px solid white;
    transform:rotate(-10deg);
    z-index: 1;
}


main {
    position: absolute;
    height: calc(100% - 112px - 40px);
    width: calc(100% - 262px - 40px);
    left: 262px;
    top: 104px;
    padding: 20px;
}


#hz_logo {
    height: 8%;
    margin-left: 5px;
    margin-right: 4px;
    margin-top: 10px;
}


table {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

th {
    text-align: left;
}
ul {
    display: table;
    margin: 0 auto;
}